:root {
  background: lightgray;
  font-family: "Dosis";
}

main {
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #3BB273;
  display: flex;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
}

h1 {
  font-family: "Agbalumo";
  color: white;
  flex-grow: 5;
  padding-left: 10px;
}

h3 {
  font-size: 1.3em;
  font-weight: 700px;
}

nav {
  padding-top: 10px;
  padding-right: 20px;
}

nav button {
  font-size: 1em;
}

.PostList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 80px;
}

.filtering {
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.Post {
  background: white;
  height: auto;
  width: 50%;
}

.likesComments {
  font-size: 0.9em;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 10px;
  padding-right: 10px;
}

.postCreatedTime {
  color: gray;
  text-align: left;
  flex-grow: 1;
  padding-left: 10px;
}

.postDetail {
  margin-top: 100px;
  background: white;
  height: auto;
  width: 50%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}

.detailFoot {
  display: flex;
  justify-content: space-between;
}

.comments {
  background: white;
  border: 1px solid darkgray;
  margin: 4px;
  padding: 5px 0 5px 5px;
}

.newComment {
  margin-top: 10px;
}

h4 {
  margin: 0 5px 0 0;
}

.comment {
  padding: 10px;
  border-bottom: 1px solid darkgray;
}

.time {
  color: gray;
  font-size: 0.8em;
}

.CreatePost, .EditPost {
  align-self: center;
  margin-top: 100px;
  background: white;
  width: 50%;
  padding: 10px
}

form input {
  width: 370px;
}

a {
  color: #3BB273;
}

a:visited {
  color: #3BB273;
}

a:hover {
  color: #27794E;
}
